#initial-loader {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  text-align: center;

  font-size: 30px;
  font-family: sans-serif;
}
